.header {
	position: relative;
	height: 80vh;
	z-index: 4;
	background: url(../images/back1.jpg) white;
	.banner {
		z-index: 1;
		position: absolute;
		top: 40%;
		left: 50%;
		margin-left: -140px;
		font-family: 'Ubuntu', sans-serif;
		font-size: 14px;
		font-weight: 700;
		color: rgba(0, 0, 0, .7);
		letter-spacing: 3px;
		text-transform: uppercase;
		
		@include respond-to(small-screen) {
			font-size: 15px;
		}
		@include respond-to(medium-screen) {
			top: 25%;
			font-size: 18px;
			letter-spacing: 7px;
			margin-left: -160px;
		}
		@include respond-to(large-screen) {
			font-size: 18px;
			margin-left: -210px;
			letter-spacing: 9px;
			top: 30%;
		}
		@include respond-to(xlarge-screen) {
			font-size: 24px;
			margin-left: -200px;
			letter-spacing: 9px;
			top: 30%;
		}
	}
}

.logo {
	position: absolute;
	top: 50px;
	left: 10px;
	font-family: 'Herr Von Muellerhoff', cursive;
	font-size: 90px;
	color: rgba(0, 0, 0, .15);
	overflow: hidden;
	z-index: 1;
	@include respond-to(small-screen) {
		top: 50px;
		left: 10px;
		font-size: 90px;
	}
	@include respond-to(medium-screen) {
		top: 40px;
		left: -10px;
		font-size: 110px;
	}
	@include respond-to(large-screen) {
		top: 0px;
		left: 10px;
		font-size: 160px;
	}
	@include respond-to(xlarge-screen) {
		top: 50px;
		left: 10px;
		font-size: 200px;
	}
}


.menu_icon {
	display: block;
	position: fixed;
	top: 5%;
	left: 0;
	z-index: 6;
	background-color: black;
	color: white;
	transition: 0.5s;
	@include respond-to(small-screen) {
		display: none;
	}
	@include respond-to(medium-screen) {
		display: none;
	}
	@include respond-to(large-screen) {
		display: none;
	}
	@include respond-to(xlarge-screen) {
		display: none;
	}
	h2 {
		margin: 0;
		font-size: 16px;
		padding: 8px 5px 8px 15px;
	}
}
.closebtn {
	@extend .menu_icon;
	display: none;
	transition: 0.3s;
	h2 {
		margin: 0;
		font-size: 16px;
		padding: 8px 5px 8px 15px;
	}
}

.overlay {
	display: none;
	position: fixed;
	background-color: rgba(255, 255, 255, .9);
	width: 100vh;
	top: 5%;
	left: 0;
	transition: 0.3s;
	z-index: 6;
	@include box-shadow(0 0 3px black);
	h2 {
		margin: 0;
		font-size: 16px;
		padding: 8px 5px 8px 15px;
	}
	a {
		display: block;
		width: 100%;
		text-align: center;
		transition: 0.3s;
		text-decoration: none;
		margin-top: 20px;
		font-size: 15px;
		font-weight: 400;
		text-transform: uppercase;
	}
}
.overlay-content {
	margin-top: 40px;
	border-top: 1px solid grey;
	transition: 0.3s;
}


.menu_btn {
	position: absolute;
	top: 45%;
	left: 10%;
	@include respond-to(xsmall-screen) {
		display: none;
	}
	a {
		display: block;
		width: 150px;
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 2px;
		margin: 20px auto;
		padding: 5px 10px;
		vertical-align: center;
		color: black;
		border-left: 2px solid black;
		&:hover {
			font-size: 14px;
			color: black; 
			border-left: 2px solid black;
			background-color: white;
			@include box-shadow(0 0 4px rgba(0, 0, 0, .6));
			transition: 0.8s;
		}
	}
}

.photo {
	z-index: 1;
	position: absolute;
	bottom: -4.5vh;
	right: 0px;
	height: 240px;
	width: 360px;
	background: url("../images/bac1.png") no-repeat bottom right;
	background-size: contain;
	@include respond-to(small-screen) {
			height: 300px;
			width: 450px;
		}
		@include respond-to(medium-screen) {
			height: 400px;
			width: 600px;
		}
		@include respond-to(large-screen) {
			height: 500px;
			width: 750px;
		}
		@include respond-to(xlarge-screen) {
			height: 635px;
			width: 950px;
		}
}
