#viewer {
	display: none;
	z-index: 10;
	width: 100%;
	min-height: 100%;
	background-color: rgba(255, 255, 255, .8);
	position: fixed;
	top: 0px;
	#image {
		width: 80%;
		height: 80%;
		position: absolute;
		top: 10%;
		left: 10%;
		background-image: url(../images/gallery/2.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center center;
		background-size: contain;
	}
	#right {
		position: fixed;
		top: 50%;
		right: 5%;
		font-size: 30px;
		cursor: pointer;
	}
	#left {
		position: fixed;
		top: 50%;
		left: 5%;
		font-size: 30px;
		cursor: pointer;
	}
	#close {
		position: fixed;
		top: 3%;
		right: 10%;
		padding: 5px 10px;
		background: black;
		color: white;
		cursor: pointer;
	}

}