@include respond-to(xsmall-screen) {
	.masonry[data-columns]::before {
		content: '2 .col-xs-6';
	}
}

@include respond-to(small-screen) {
	.masonry[data-columns]::before {
		content: '3 .col-xs-4';
	}
}

@include respond-to(medium-screen) {
	.masonry[data-columns]::before {
		content: '4 .col-xs-3';
	}
}

@include respond-to(large-screen) {
	.masonry[data-columns]::before {
		content: '6 .col-xs-2';
	}
}
#gallery {
	z-index: 6;
	padding: 50px 0;
	@include box-shadow(0 0 5px rgb(0, 0, 0));
	h1 {
		margin-top: -120px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 50px;
		text-align: right;
		color: black;
		@include respond-to(medium-screen) {
			margin-top: -150px;
			font-size: 70px;
		}
		@include respond-to(large-screen) {
			margin-top: -160px;
			font-size: 80px;
		}
		@include respond-to(xlarge-screen) {
			margin-top: -170px;
			font-size: 90px;
		}
	}
}

.masonry {
	margin-top: 80px;
	height: 535px;
	overflow: hidden;
	@include respond-to(xsmall-screen) {
		height: 320px;
	}
	@include respond-to(medium-screen) {
		height: 405px;
	}
	@include respond-to(large-screen) {
		height: 540px;
	}
	@include respond-to(xlarge-screen) {
		height: 455px;
	}

	div {
		margin: 0;
		padding: 0;	
	}
	img {
		display: block;
		padding: 4px;
		&:hover {
			filter: blur(1px);
		}
		&:hover + figcaption {
			left: 0;
		}
	}
	figure {
		position: relative;
		opacity: 0;
		transform: translateX(-20px);
		overflow: hidden;
		&.is-showing {
			opacity: 1;
			transform: translateX(0px);
			transition: all 0.2s ease-in-out;
		}
	}
	figcaption {
		position: absolute;
		bottom: 5%;
		left: -100%;
		background-color: rgba(0, 0, 0, .65);
		color: white;
		margin: 4px;
		padding: 3px 10px;
		font-size: 13px;
		transition: all 0.3s ease-in-out;
		@include respond-to(xsmall-screen) {
			font-size: 11px;
		}
	}
}


#showMore {
	display: block;
	text-align: center;
	padding: 5px 10px;
	margin-top: 20px;
	margin-bottom: 30px;
	background-color: rgb(0, 0, 0);
	color: rgb(200, 200, 200);
}

#hide {
	@extend #showMore;
	display: none;
}

.gallery {
	margin-bottom: 400px;
}